services:
  db:
    image: postgres:15-alpine
    container_name: teacher_app_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-student_management}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: teacher_app_backend
    # restart: always # Restart desabilitado para debug em dev
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5432/${POSTGRES_DB:-student_management}
    volumes:
      - ./backend:/app/backend
    command: uvicorn backend.server:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "${PORT_BACKEND:-8000}:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: teacher_app_frontend
    # restart: always
    depends_on:
      - backend
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    ports:
      - "${PORT_FRONTEND:-5173}:5173"

  pgadmin:
    image: dpage/pgadmin4
    container_name: teacher_app_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
